body {
    font-family: "Lato", sans-serif;
    background-color:#000000;
    margin: 0px;
    -webkit-backface-visibility: hidden;
    transition: background-color 1s ease-in-out;
}

.logo{
    opacity: 0;
    float: left;
    position: relative;
    width: 25vw;
   // top: 50%;
    //left: 50%;
   transform: translate(0, -100px);
   transition: transform 0.5s, opacity 2s cubic-bezier(0.35, 0.23, 0.23, 1.01);   
}

.container{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    position: absolute;

}

.fullscreen{
    height:100vh;
    //width: 100vw;
    margin: 0;
    position: relative;
}

.e{
    margin-left:2vw;
    float: left;
    position: relative;
    width:3vw;
}

.e_line{
    opacity: 0;
    outline: 1px solid transparent;
    margin-bottom:1.5vw;
    background: white;
    position: relative;
    height: 1vw;
    width:3vw;
    transition: opacity 3s, transform 1s, height 2s cubic-bezier(0, 1, 0.27, 0.99);
}


#e_line_1{
    transform: translate(0, -100px)
}

#e_line_3{
    transform: translate(0, 100px)
}

#e_line_2{
    transition: transform 1s, width 2s cubic-bezier(0, 1, 0.27, 0.99);    
    transform: translate(300px, 0);
    width:200px;
}


.menu{
    width: 600px;    
}

table{
    text-align: left;
    color:white;
    border-collapse:collapse
}

td {
    font-size: 13px;
    font-family: goth;
    padding:7px;
    margin:0;
    padding-bottom: 0;
    padding-top: 20px;
    padding-left: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.00);
    opacity: 0;
    transition: border-bottom 1s, opacity 1s cubic-bezier(0.35, 0.23, 0.23, 1.01);
    
}

.right-menu-cell{
    text-align: right;  
    width: 5%;
}

@font-face {
    font-family: goth;
    src: url(fonts/GOTHIC.TTF);
}

h2{
    font-size: 25px;
    margin-bottom: 0px;
    font-family: goth;
    font-weight: normal;
    text-align: center;
    color:white;
    transition: opacity 3s, transform 1s, height 2s cubic-bezier(0, 1, 0.27, 0.99);

}


.link-menu{
    right:10px;
    position:fixed; 
    z-index:102;
    color:#a4a4a4;
    margin:20px;
    font-size:17px;
    font-family:goth;
    border-bottom: 0px solid rgba(255, 255, 255, 0.00);
}

.menu-item:hover{
    color:white;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    
}

a{
    color: white;
    text-decoration: none;
}

.menu-item{
    transition: border-bottom 0.6s, color 0.2s;
    margin-left:20px;
}

.inbetweener{
    height: 10px;
    width:100%;
    position: relative;
    margin:0;
}

.e_line_page{
    width: 160px;
    height: 2px;
    background:#717171;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

